.hero-unit
  h1 Applying to clerkships?
  p
    | View and share the latest news on the judges you care about.
  p
    a.btn.brn-primary.btn-large Get started &raquo;

.row
  .span4
    h2 Join the conversation
    p
      | ClerkshipData depends on you to help us provide timely and accurate clerkship information for the benefit of both applicants and judges.  
      | We thank you for sharing.
    p
  .span4
    h2 Discuss courts
    p
      | Share and read updates about a specific court.
    p
      a.btn.btn-large href="#" Find a court &raquo;
  .span4
    h2 Discuss judges
    p
      | Interested in a particular judge? Find out the latest here.
    p
      a.btn.btn-large href="#" Find a judge &raquo;
